# Environnement Python
.venv/
venv/

# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Sauvegardes / fichiers temporaires
*~
*.swp
*.bak

# Configurations système locales
conf/etc/

# Base de données locale
ai_chat.db
# Fichiers de travail locaux
memo.md
app copy.py
conf/conf ufw.md

# Données runtime de l'application
data/*
!data/.gitkeep

!data/documents/
data/documents/*
!data/documents/.gitkeep

!data/images/
data/images/*
!data/images/.gitkeep